*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    text-decoration: none;
    list-style: none;
    transition: all 0.5s ease;
}

body{
    min-height: 100vh;
    /* width: 1440px; */
    /* margin-right: 4px; */
}
header{
    position: fixed;
    width: 100%;
    height: 88px;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 165px;
    background: #f4f6fb;
    transition: 0.5s ease;
    padding: 0 11.2%;
}
.logo > img{
    width: 70px;
    height: 43px;
}

.burger div{
    width: 26px;
    height: 2.9px;
    background-color: black;
    margin: 7px;
}
.burger{
    display: none;
}

.navbar{
    display: flex;
    justify-content: space-around;
    /* width: 40%; */
}
.navbar a{
    font-size: 14px;
    padding: 30px 0;
    margin: 0 16px;
    transition: all .50s ease;
    color: black;
}
.navbar a:hover{
    color: blue;
}
.card-boder:hover{
    opacity: .4;
    cursor: pointer;
}
.main-btn .btn-1:hover{
    background-color: #FFFFFF;
    color: #3C64B1;
    border: 1px solid #3C64B1;
}
.main-btn .btn-2:hover{
    background-color: #3C64B1;
    color: #FFFFFF;
    border: 1px solid #3C64B1;
}
.main .lg:hover{
    background-color: #FFFFFF;
    color: #3C64B1;
    border: 1px solid #3C64B1;
}


/* .navbar a.active{
    color: blue;
} */
.main{
    display: flex;
    align-items: center;
}
.main a{
    font-size: 14px;
    color: #3C64B1;
}
.main .lg{
    margin-left: 23px;
    padding: 12px 18px;
    background-color: #3C64B1;
    color: white;
    align-items: center;
    text-align: center;
    border: 1px solid #3C65B1;
}
.background-img-small{
    background-image: url(img/background.jpg);
    /* max-width: 2560px; */
    max-width: 100%;
    height: 580px;
    background-position: 50% 50%;
    background-size: cover;
    margin-top: 88px;
    opacity: 8%;
    transition: 0.5s ease;
}
.home-text {
    top: 0;
    left: 0;
    position: relative;
    right: 0;
    bottom: 0;
    margin-bottom: 60px;
}
/* .background-img img{
    opacity: 8%;
    position: relative;
    height: 580px;
    width: 100%;
} */

.bdr {
    position: absolute;
    max-width: 730px;
    max-height: 286px;
    display: flex;
    text-align: center;
    align-items: center;
    left: calc(50% - 730px/2);
    flex-direction: column;
    top: calc(50% - 286px/2);
}
.bdr h1 {
    font-size: 44px;
    color: #373F41;
}
.bdr p {
    line-height: 22px;
    color: #737B7D;
    font-weight: 400;
    letter-spacing: 0.3px;
    margin-top: 32px;
    margin-bottom: 56px;
}

a.btn-1 {
    align-items: center;
    background: #3C64B1;
    display: flex;
    height: 42px;
    padding: 12px 18px;
    font-size: 14px;
    border: 1px solid #3C64B1;
    color: #FFFFFF;
}
a.btn-2 {
    display: flex;
    padding: 12px 18px;
    align-items: center;
    height: 42px;
    border: 1px solid #3C64B1;
    margin-left: 24px;
    font-size: 14px;
}
.container {
    /* display: flex; */
    /* justify-content: center; */
    /* margin-bottom: -25px; */
}
.border-box {
    /* display: flex; */
    /* justify-content: center; */
}
.content {
    line-height: 24px;
    max-height: 86px;
    text-align: center;
    max-width: 100%;
}
.card.active {
    display: flex;
    /* align-items: center; */
    /* margin-top: 35px; */
    /* margin-bottom: 94px; */
    /* max-width: 1110px; */
    /* max-width: 100%; */
    /* max-height: 204px; */
    margin: 35px auto 94px auto;
    padding: 0px 10px;
}
h3.content-1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    color: #373F41;
    letter-spacing: 0.1px;
}
p.content-2 {
    margin-top: 24px;
    font-size: 16px;
    letter-spacing: .1px;
    color: #737B7D;
}
.card-boder{
    max-width: 350px;
    /* max-width: 100%; */
    height: 204px;
    text-align: center;
    margin: 0px 15px;
    scroll-snap-align: start;
}
.item i{
    width: 40px;
    height: 40px;
    font-size: 33px;
    align-items: center;
    text-align: center;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    color: #3C64B1;
}
.text-card {
    margin-top: 24px;
    text-align: center;
}
.text-card h6 {
    font-size: 18px;
    color: #373F41;
}
.text-card p {
    font-size: 14px;
    color: #373F41;
    margin-top: 12px;
}
.button-card {
    margin-top: 34px;
}
.button-card a{
    color: #3C64B1;
    font-size: 14px;
    font-weight: 600;
}

.wrap-small {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 108px;
    max-width: 1350px;
    /* max-width: 100%; */
}
.background-wrap{
    background-position: 50% 50%;
    background-image: url(img/picturn1.jpg);
    width: 50%;
    height: 27.5em;
    background-size: cover;
}
.background-wrap.two{
    background-image: url(img/picturn2.jpg);
}
.text-wrap {
    max-width: 49%;
    /* height: 383px; */
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.title-small h3 {
    font-size: 32px;
    color: #373F41;
    letter-spacing: .1px;
    margin-bottom: 32px;
}
.title-small p {
    font-size: 16px;
    color: #737B7D;
    line-height: 22px;
    margin-bottom: 56px;
}
.field {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.field .user {
    width: 60%;
    /* height: 42px; */
    position: relative;
}
.field .user input{
    width: 100%;

}

.user input[type="text"] {
    width: 100%;
    height: 100%;
    background: #F4F5F4;
    margin-right: 24px;
    padding: 11px 16px;
    border: none;
    outline: none;
    font-size: 14px;
}
.user label {
    letter-spacing: 0.2px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 16px;
    display: flex;
    align-items: center;
    transition: 0.5s ease;
    pointer-events: none;
    font-size: 14px;
    color: #737B7D;
}
.field .user input:focus~label,
.field .user input:valid~label{
    opacity: 0;
}
.field .primary {
    padding: 12px 9px;
    background: #3C64B1;
    margin-left: 24px;
}
.field .primary a{
    color:#FFFFFF;
    font-size: 14px;
    letter-spacing: 0.3px;
}
.text-click{
    font-size: 12px;
    letter-spacing: 0.2px;
    color: #737B7D;
}
.card-text-wrap{
    width: 100%;
    display: flex;

}
.card-wrap-small{
    max-width: 255px;
    max-height: 144px;
    padding: 0;
}
.icon-wrap{
    margin-bottom: 16px;
}
.card-wrap-small .icon-wrap iconify-icon {

    font-size: 32px;
    color: #3C64B1;
}
.card-wrap-small p{
    font-size: 16px;
    line-height: 22px;
    color: #737B7D;
}
.fix-text{
    margin-left: 0px;
    margin-right: 30px;
    width: 50%;
}
.card-wrap-small.card-left{
    margin-right: 24px;
}

.footer{
    margin-bottom: 95px;
}
.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
}

.card-footer-small{
    width: 255px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition: all 0.3s ease-in;
}
.card-footer-small .card-img{
    background-image: url(img/picturn3.jpg);
    width: 255px;
    height: 260px;
    background-position: 50% 50%;
    background-size: cover;
}
.card-img.two{
    background-image: url(img/picturn4.jpg);
}
.card-img.three{
    background-image: url(img/picturn5.jpg);
}
.card-img.four{
    background-image: url(img/picturn6.jpg);
}

.card-title {
    padding: 32px 12px 12px 12px;
    font-size: 18px;
    color: #373F41;
    font-weight: bold;
}
.card-text{
    font-size: 14px;
    color: #373F41;
    letter-spacing: 0.2px;
}

.direction{
    text-align: center;
}
.direction button{
    font-weight: 700px;
    background-color: #3C64B1;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.5s;
    margin:0 10px;
    color: white;
    font-weight: 800;
}
.direction button:hover{
    color: #3C64B1;
    background-color: white;
    
}
.item-slider{
    width: 255px;
    /* height: 265px; */
    /* overflow: hidden; */
    transition: 0.5s;
    margin: 0px 15px 15px 15px;
    text-align: center;
    scroll-snap-align: start;
}
.item-slider .avatar{
    width: 255px;
    height: 265px;
    background-position: 50% 50%;
    background-size: cover;
}
.list{
    display: flex;
    width: max-content;
}
#formList{
    max-width: 1110px;
    /* max-width: 100%; */
    overflow: auto;
    margin: auto;
    scroll-behavior: smooth;
    scroll-snap-type: both;
}
#formList::-webkit-scrollbar{
    display: none;
}

@media screen and (min-width: 1440px) {
    
    .wrap {
        max-width: 1110px;
    }
}
@media screen and (min-width: 1200px){
    .wrap {
        max-width: 1110px;
        /* padding: 0px 20px; */
        /* margin: 0px 60px; */
        margin: auto;
    }
    .card.active {
        max-width: 1440px;
    }
}
@media screen and (max-width: 1024px){
    .item-slider{
        width: calc(33.3vw - 30px);
    }
    .direction{
        display: none;
    }
    
}
@media screen and (min-width: 1024px) {
    
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .item-slider {
        width: calc(25vw - 30px);
    }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
    .wrap {
        max-width: 1024px;
        margin: auto;
        padding: 0px 20px;
    }
    .field .primary {
        
width: 141px;
        
height: 42px;
        
transition: 0.2s ease;
    }
    #formList{
        max-width: 1024px;
        margin: auto 20px;
    }
    .item-slider{
        width: calc(25vw - 35px);
    }
    .item-slider .avatar{
        width: 234px;
    }
    div#FormList {
        max-width: 1110px;
        /* max-width: 100%; */
        /* overflow: auto; */
        /* margin: auto; */
    }
    .card.active {
        max-width: 1024px;
    }
}
@media screen and (min-width: 992px) {
    .card-boder {
        width: calc(50vw - 15px);
    }
}
@media screen and (max-width: 768px) {
    body{
        padding-right: 4px;
    }
}
@media screen and (max-width: 992px) {
    /* .card.active {
        max-width: 720px;
    } */
    .wrap-small {
        max-width: 1024px;
        margin: auto;
        margin-bottom: 50px;
        padding: 0px 20px;
    }
    .footer {
        margin-left: 20px;
        margin-right: 20px;
    }
    div#FormList {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 768px){
    .item-slider{
        width: calc(50vw - 30px);
    }
    .direction{
        display: none;
    }
}





.card.active{
    width: max-content;
}

#FormList::-webkit-scrollbar{
    display: none;
    
}
@media screen and (max-width: 1024px) {
    .card-boder{
        width: calc(50vw - 15px);
        max-width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .card-boder{
        width: calc(50vw - 15px);
        max-width: 100%;
    }
    .wrap-small {
        position: relative;
        display: block;
    }
    .background-wrap {
        width: 100%;
    }
    .text-wrap {
        max-width: 100%;
        text-align: center;
        margin: auto;
        margin-top: 20px;
    }
    .field {
        display: block;
    }
    .field .user {
        width: 100%;
        margin-bottom: 15px;
    }
    .field .primary {
        margin-left: 0px;
    }
    .wrap-small.wrap-small-two {
        flex-direction: column;
        display: flex;
    }
    .text-wrap.fix-text {
        order: 2;
        width: 100%;
    }
    .card-text-wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .home-text {
        margin-right: -4px;
    }
    .bdr h1 {
        font-size: 32px;
        line-height: 40px;
    }
}
@media screen and (max-width:576px) {
    .item-slider {
        width: calc(100vw - 30px);
    }
    .bdr {
        width: 100%;
        max-width: 320px!important;
        left: calc(50% - 320px/2)!important;
        top: calc(50% - 286px/2);
    }
    ul.navbar.nav-active {
        width: 100%;
    }
    
}
div#FormList {
    max-width: 1110px;
    /* max-width: 100%; */
    overflow: auto;
    margin: auto;
    scroll-behavior: smooth;
    scroll-snap-type: both;
}
@media screen and (max-width: 615px) {
    div#FormList {
        margin-top: 55px;
    }
    .card-boder {
        width: calc(100vw - 0px);
    }
}
@media screen and (max-width: 375px) {
    h3.content-1 {
        font-size: 28px;
    }
    .title-small h3 {
        font-size: 28px;
    }
    .card.active {
        margin-bottom: 10px;
    }
    .background-wrap {
        height: 18.5em;
    }
    .card-text-wrap {
        display: block;
    }
    .card-wrap-small.card-left {
        margin-right: 0px;
        max-width: 100%;
        margin-bottom: 25px;
    }
    .card-wrap-small {
        max-width: 100%;
    }
    .icon-wrap {
        margin-bottom: 5px;
    }
}
@media screen and(max-width: 300px) {
    .footer {
        margin-top: 112px;
    }
    
}
@media screen and (max-width: 375px) {
    .main .lg {
        padding: 10px 10px!important;
        margin-left: 10px;
    }
    .burger {
        margin-left: 5px!important;
    }
    .logo > img {
        width: 63px;
        height: 43px;
    }
    .bdr {
        max-width: 280px!important;
        left: calc(50% - 280px/2)!important;
    }
    .main-btn{
        max-width: 275px
    }
}
@media screen and (min-width: 375px) {
    .main-btn {
        max-width: 275px;
    }
}
.main-btn {
    
    height: 42px;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0;
    margin: auto;
}
@media screen and (max-width: 1024px) {
    ul.navbar {
        /* display: none; */
        position: absolute;
        right: 0;
        height: 92vh;
        top: 78px;
        background-color: #f4f6fb;
        display: flex;
        flex-direction: column;
        width: 45%;
        text-align: center;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    header {
        height: 78px;
        transition: 0.5s ease;
        padding: 0px 3%;
    }
    .background-img-small {
        transition: all 0.5s ease;
        margin-top: 78px;
    }
    .burger {
        display: block;
        margin-left: 20px;
    }
    .logo > img {
        width: 83px;
        height: 50px;
    }
    a.logo {
        padding-left: 3%;
    }
    .navbar li {
        width: 100%;
        /* height: 33%; */
    }
    .navbar li a {
        font-size: 20px;
        font-weight: 700;
    }

}

@media screen and (max-width: 768px) {
    .bdr {
        width: 100%;
        left: calc(50% - 540px/2);
        max-width: 540px;
    }
    .bdr p {
        font-size: 16px;
        margin-top: 15px;
    }
    
}
ul.navbar.nav-active {
    transform: translateX(0%);
}


@keyframes navLinkFade{
    form{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-7.5px, 6px);
}
.toggle .line2{
    /* transform: rotate(-45deg translate(-5px, 6px)); */
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-7.5px, -6px);
}