*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     height: 100vh;
     background: linear-gradient(to right, #00dcff, #b6d12a, #a4ff34);
     font-family: sans-serif;
}

.container{
    width: 400px;
    margin: 100px auto;
    background: white;
    padding: 5px 0px 0px 0px;
    border-radius: 6px;
    overflow: hidden;
}

form{
    border-bottom: 1px solid #aaa;
    padding: 8px 14px;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
}
form input{
  font-size: 24px;  
  width: 100%;
  margin-right: 15px;
  border: none;
  outline: none;
}
form button{
    padding: 5px 15px;
    background-color: yellowgreen;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.todo li{
    padding: 10px 20px;
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(224, 224, 224);
    align-items: center;
    cursor: pointer;
}
.todo li span{
    width: 89%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
li.completed{
    color: #a69d9d;
}
li.completed span{
    text-decoration: line-through;
}
